In [4]:
import pandas as pd

In [5]:
Data = [1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]

In [6]:
df = pd.DataFrame(Data, columns=['print heads'])
df

    print heads
0          1.13
1          1.55
2          1.43
3          0.92
4          1.25
5          1.36
6          1.32
7          0.85
8          1.07
9          1.48
10         1.20
11         1.33
12         1.18
13         1.22
14         1.29

In [7]:
df.mean()

print heads    1.238667
dtype: float64

In [23]:
# using t-distribution
import numpy as np
from scipy.stats import t

CI = t.interval(0.99, df=len(df)-1, loc=df.mean(), scale = df.std(ddof=1) / np.sqrt(len(df)))
CI

(array([1.09019734]), array([1.38713599]))

In [24]:
print("I am 99% confident that mean number of characters printed before the print-head fails is lies between", CI ," in millions" )

I am 99% confident that mean number of characters printed before the print-head fails is lies between (array([1.09019734]), array([1.38713599]))  in millions

In [12]:
#why i used t-distribution instead normal distribution
#we didn't know mean and standard deviation of the population data
#the number of samples is less than 30

In [13]:
#now because i know the population standard deviation is 0.2
# i don't need to follow t-distribution i can simply follow normal distribution

In [26]:
from scipy.stats import norm

In [27]:
df_CI = norm.interval(0.99, loc=df.mean(), scale=0.2)
df_CI

(array([0.72350081]), array([1.75383253]))

In [28]:
print("I am 99% confident that mean number of characters printed before the print-head fails with population standard deviation is ", df_CI, 'in millions')

I am 99% confident that mean number of characters printed before the print-head fails with population standard deviation is  (array([0.72350081]), array([1.75383253])) in millions